<!DOCTYPE html>
<html>
	<head>
		<%- include("../../partials/head", { title: title }); %>
	</head>
	<body>
		<%- include("../../partials/header"); %>
    <div class="container">
			<h1><%= title %></h1>
		  
			Bienvenido señor
    </div>
	</body>
</html>